@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
$white: #FFFFFF;
$red: #FF0000;
$orange: #FF5A00;
$blue: #49449E;

.navbar {
    height: 0px;
    padding-top: 0px;
    padding-bottom: 0px;

    &__logo {
        position: absolute;
        top: 24px;
        left: 60px;
    }

    &__facebook {
        position: absolute;
        top: 35px;
        right: 103px;
    }
}

@media only screen and (max-width: 661px) {
    .navbar {

        &__logo {
            top: 17px;
            left: 15px;
        }

        &__facebook {
            top: 28px;
            right: 34px;
        }
    }
}

body {
    background: rgba(14, 19, 48, 1);
}

.background-image {
    background-image: url("./assets/background.png");
    position: absolute;
    height: 771px;
    top: 0;
    min-width: 100%;
    background-position: center;
    background-size: cover;
    z-index: -3;

    &--color {
        width: inherit;
        height: inherit;
        mix-blend-mode: multiply;
        background: rgba(36, 44, 91, 1);
    }
}

@media only screen and (max-width: 390px) {
    .background-image {
        height: 420px;
    }
}

@media only screen and (min-width: 390px)and (max-width: 600px) {
    .background-image {
        height: 620px;
    }
}

.grid {
    width: 100% !important;
    align-items: center;

    &__title {
        min-height: 144px;
        text-align: center;
        margin: 151px 15px 36px 15px;

        & h1 {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 48px;
            line-height: 72px;
            color: $white;
        }
    }

    &--red-text {
        color: $red;

        &:hover {
            color: $white;
        }
    }

    &__allegro {
        width: 319px;
        height: 109px;
        background: $white;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: relative;
        margin-bottom: 93px;


        &::before {
            position: absolute;
            top: 0%;
            width: 319px;
            height: 145px;
            z-index: -2;
            content: " ";
            background: #242C5B;
            border-radius: 10px;
            color: $white;
        }

        &-link {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            text-decoration: none;
            border-radius: 10px;
            color: $white;

            &-div {
                position: absolute;
                bottom: -34px;
                width: 319px;
                height: 30px;
                text-align: center;
            }
        }
    }

    &__cards-row {
        box-sizing: border-box;
        margin: 0px 29px 0px 29px !important;

    }

    &__text {
        width: 652px;
        min-height: 105px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        color: $white;
        margin-bottom: 68px !important;
    }

    &__card {
        box-sizing: border-box;
        height: 117px;
        background: #242C5B;
        opacity: 0.8;
        border: 1px solid $blue;
        box-shadow: 0px 0px 45px rgba(0, 0, 0, 0.75);
        border-radius: 10px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: $orange;
        display: flex;
        margin: 5.6px !important;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    &--last-child {
        margin-bottom: 38px !important;
    }

}

@media only screen and (max-width: 450px) {
    .grid__title {
        margin: 114px 16px 35px 7px;

        & h1 {
            font-size: 32px;
            line-height: 48px;
        }
    }
}

@media only screen and (max-width: 450px) {
    .grid__allegro {
        margin-bottom: 71px !important;
    }
}

@media only screen and (max-width: 661px) {
    .grid__text {
        width: 351px;
        margin-bottom: 51px !important;
    }
}

@media only screen and (max-width:350px) {
    .grid__text {
        width: auto;
        margin-bottom: 51px !important;
    }
}

@media only screen and (max-width: 380px) {
    #grid__stars {
        width: 44px;
    }
}

.footer__copyright {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: right;
    color: $blue;
    margin: 0px 60px 20px 0px;
}

@media only screen and (max-width:1200px) {
    .grid--last-child {
        margin-bottom: 68px !important;

    }

    .footer__copyright {
        font-size: 10px;
        text-align: center;
        margin: 0px 15px 18px 15px;
    }
}

@media only screen and (min-height:1000px) and (min-width:1200px) {

    .footer__copyright {
        position: absolute;
        bottom: 20px;
        right: 60px;

    }
}